$primary-green: #40A578;
$secondary-green: #006769;
$light-green: #A5DD9B;
$yellow: #E6FF94;
$light: #FFFFFF;
$font-family: "Ubuntu Mono", monospace;


@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');