@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.greenCheck {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #40A578;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  height: 100vh;
}
.greenCheck h2 {
  color: #E6FF94;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.greenCheck p {
  color: #E6FF94;
  margin-bottom: 2.5rem;
  font-size: 1rem;
}
@media (max-width: 768px) {
  .greenCheck p {
    color: #FFFFFF;
  }
}
.greenCheck form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.greenCheck form input {
  padding: 1rem;
  background-color: #A5DD9B;
  border: 1px solid #40A578;
  border-radius: 3rem;
  margin-bottom: 5rem;
  width: 500px;
}
.greenCheck form input::-moz-placeholder {
  font-size: 1rem;
  font-family: "Ubuntu Mono", monospace;
  color: #006769;
  text-align: center;
}
.greenCheck form input::placeholder {
  font-size: 1rem;
  font-family: "Ubuntu Mono", monospace;
  color: #006769;
  text-align: center;
}
.greenCheck form input:focus {
  border-color: #E6FF94;
  outline: none;
}
@media (max-width: 768px) {
  .greenCheck form input {
    width: 400px;
  }
}
.greenCheck form button {
  padding: 10px 20px;
  background-color: #A5DD9B;
  color: #006769;
  font-family: "Ubuntu Mono", monospace;
  font-size: 1rem;
  border: none;
  border-radius: 5rem;
  width: 10rem;
  cursor: pointer;
}
.greenCheck form button:hover {
  background-color: #E6FF94;
}

.resources {
  position: relative;
  background-color: #A5DD9B;
  padding: 1rem;
  border-radius: 0.5rem;
  height: 100vh;
  overflow: hidden;
}
.resources h2 {
  color: #006769;
  font-size: 4rem;
  margin-top: 8rem;
  margin-bottom: 3rem;
  margin-left: 5rem;
}
@media (max-width: 768px) {
  .resources h2 {
    margin-top: 10rem;
    font-size: 2.5rem;
    margin-left: 1rem;
  }
}
.resources p {
  color: #006769;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-left: 5rem;
}
@media (max-width: 768px) {
  .resources p {
    font-size: 1rem;
    margin-left: 1rem;
  }
}
.resources p a {
  color: #006769;
  text-decoration: none;
  font-weight: bold;
}
.resources p a:hover {
  text-decoration: underline;
}
.resources .resourceList {
  margin-top: 2rem;
}
.resources .resourceList ul {
  color: #006769;
  margin-top: 3rem;
  margin-left: 5.5rem;
  padding: 0;
}
@media (max-width: 768px) {
  .resources .resourceList ul {
    margin-left: 2rem;
  }
}
.resources .resourceList ul li {
  margin-bottom: 2rem;
}
.resources .resourceList ul li a {
  color: #006769;
  text-decoration: none;
  font-size: 1rem;
}
.resources .resourceList ul li a:hover {
  text-decoration: underline;
}
.resources .bigCircle {
  position: absolute;
  top: 100px;
  right: -200px;
  width: 1000px;
  height: 1000px;
  border: 2px solid #006769;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .resources .bigCircle {
    display: none;
  }
}

body {
  font-family: "Ubuntu Mono", monospace;
}/*# sourceMappingURL=main.css.map */