//Colors:
$text_color:#006769;
$main_color:#40A578;
$light_color:#A5DD9B;
$accent_color:#E6FF94;
$white_color:#FFFFFF;

//Fonts:
$font-family: "Ubuntu Mono", monospace;
$font-size:14px;
$font-weight:400;
$line-height:14px;
$text-align: center;


@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

//Margin:
$margin:auto;

//Boder-radius:
$border-radius:50%;