// _Variables.scss$primary-color: #3b7e58;
$g-color: #006769;
$accent-color: #40A578;
$light-color: #A5DD9B;
$accent-color: #E6FF94;
$White-color: #FFFFFF;

// font
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');