@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu Mono", monospace;
  background-color: #40A578;
}

main {
  display: flex;
  margin: 0;
}
main .container {
  display: flex;
  width: 100%;
  padding: 50px 30px;
  text-align: left;
  line-height: 25px;
}
main .container .content h1 {
  padding-left: 10rem;
  font-size: 4rem;
  color: #E6FF94;
  font-family: "Ubuntu Mono", monospace;
  line-height: 25px;
  margin-bottom: 40px;
}
main .container .content p {
  font-size: 14px;
  padding-left: 10rem;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 20px;
}
@media (min-width: 1200px) {
  main .container .content h1 {
    font-size: 50px;
    line-height: 55px;
    margin-left: 3rem;
    margin-bottom: 2rem;
  }
  main .container .content p {
    font-size: 24px;
    line-height: 25px;
    margin-top: 25px;
    margin-left: 3rem;
  }
}
main .circle-1 {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
main .circle-1 img {
  width: 100%;
  max-width: 600px;
}
@media (max-width: 1024px) {
  main .circle-1 {
    display: none;
  }
}

.footer {
  background-color: #40A578;
  padding: 20px;
  text-align: center;
  color: #FFFFFF;
}
.footer .footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}
.footer .footer-container .footer-section {
  flex: 1;
  margin: 20px;
}
.footer .footer-container .footer-section h4 {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}
.footer .footer-container .footer-section p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.footer .footer-container .footer-section .footer-link {
  color: #FFFFFF;
  text-decoration: none;
}
.footer .footer-container .footer-section .footer-link:hover {
  text-decoration: underline;
}
.footer .footer-container .footer-section .newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .footer-container .footer-section .newsletter-input {
  padding: 6px;
  border: none;
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: #E6FF94;
  color: #40A578;
  flex: 1;
}
.footer .footer-container .footer-section .newsletter-submit {
  padding: 6px 12px;
  border: 3px solid #E6FF94;
  border-radius: 20px;
  background-color: #40A578;
  color: #FFFFFF;
}
.footer .footer-container .footer-section .newsletter-submit:hover {
  background-color: #daff61;
}
.footer .footer-container .footer-logo-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-container .footer-logo-section .footer-logo {
  display: flex;
  flex-direction: column;
}
.footer .footer-container .footer-logo-section .footer-logo img {
  width: 100%;
}
@media (max-width: 1200px) {
  .footer .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .footer .footer-section {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  .footer .footer-logo-section {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .footer-logo img {
    width: 50%;
  }
  .footer .newsletter-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .newsletter-input {
    width: 80%;
  }
  .footer .newsletter-submit {
    width: 80%;
  }
}